.container_cabecalho div {
    width: 100%;
    height: 10vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container_cabecalho img {
    width: 50px;
    height: 35px;
}

.botao {
    width: 35px;
    height: 35px;
    background: none;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    color: #014a9c;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* DARK MODE STYLES ////////////////////////*/
.dark {
    background-color: #252525;
}
.dark .botao {
    color: #fdd015;
    border: 2px solid white;
}